reciprocal_blast/media/*
reciprocal_blast/static/result_images/*
data/*
tmp/*
.idea/*
reciprocal_blast/.panoptes.db
reciprocal_blast/reciprocal_blast/__pycache__/*
reciprocal_blast/blast_project/__pycache__/*
reciprocal_blast/db.sqlite3
reciprocal_blast/blast_project/migrations/0*
reciprocal_blast/blast_project/migrations/__pycache__/*
docker-compose.yml
./reciprocal_blast/blast_project/__pycache__/*
*.pyc
