<html>
    <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
        <body>

        <nav class="navbar navbar-light" style="background-color: lightskyblue">
            <a class="navbar-brand" href="{% url 'main'%}">Home</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav">
                        <a class="nav-link" href="{% url 'project_creation' %}">Project Creation: Create Your Reciprocal BLAST Project<span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="{% url 'species_taxid' %}">Get Species Taxonomic Nodes From Scientific Name (Check Availability)<span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="{% url 'upload_databases' %}">Upload New Genome FASTA Files<span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="{% url 'refseq_genome_download' %}">RefSeq Database Transactions<span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                      </div>
                  </div>
        </nav>

        <div id="titles" class="header" >
            <hr>
            <h1 class="text-center">{% block title %} SynMibi Reciprocal BLAST refseq database genome download view {% endblock %}</h1>
            <hr>
        </div>

        <div class="container-fluid" style="text-align: center">
            <div class="container-fluid" id="upload_div">
                <form method = "POST" enctype="multipart/form-data" onsubmit="showLoader_upload('upload_div','upload_giph')" >
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col">
                             <div class="form-group">
                                <label for="database_name">Database Name</label>
                                <input type="text" class="form-control" id="database_name" name="database_name">
                                {% if RefseqDatabasesForm.database_name.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{RefseqDatabasesForm.database_name.errors}}</strong>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group" style="text-align: left">
                                {{RefseqDatabasesForm.refseq_levels}}
                                {% if RefseqDatabasesForm.refseq_levels.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{RefseqDatabasesForm.refseq_levels.errors}}</strong>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="taxid_file">Optional File For Limiting BLAST Databases By Taxonomy</label>
                                <input type="file" class="form-control-file" id="taxid_file" name="taxid_file">
                                {% if RefseqDatabasesForm.taxid_file.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{RefseqDatabasesForm.taxid_file.errors}}</strong>
                                </div>
                                {% endif %}
                            </div>

                            <div class="form-group">
                              <label for="taxid_uploaded_file">Select Taxonomic File:</label>
                              <select class="form-control" id="taxid_uploaded_file" name="taxid_uploaded_file">
                                      <option value=""> </option>
                                  {% for taxid_uploaded_file,option in  RefseqDatabasesForm.taxid_uploaded_file.field.choices %}
                                      <option value="{{ taxid_uploaded_file }}">{{ taxid_uploaded_file }}</option>
                                  {% endfor %}
                              </select>
                                {% if RefseqDatabasesForm.taxid_uploaded_file.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{RefseqDatabasesForm.taxid_uploaded_file.errors}}</strong>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <input type = "submit" value = "Submit" class="btn btn-primary mb-2">
                    <!-- <input type="hidden" value="upload" id="project_type" name="project_type"> -->
                </form>
            </div>

         </div>
        <div id="upload_giph" style="display: none" style="text-align: center">
          <div class="container-fluid" >
              <p align="center"><iframe src="https://giphy.com/embed/11FuEnXyGsXFba" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></p>
              <p><a href="https://giphy.com/gifs/icon-loading-beaker-11FuEnXyGsXFba"></a></p>
          </div>
        </div>
        <hr>

        {% if NotDownloadedDatabases.count > 0 %}
        <div class="container-fluid" id="notdownloadeddatabases">
            <h2> Not Downloaded Databases </h2>
            <hr>
            <div class="col">
            {% for database in NotDownloadedDatabases %}
                <div class="row">
                    <p class="col"> Database ID: {{database.id}} </p>
                    <p class="col"> Database description: {{database.database_description}} </p>
                    <p class="col"> Timestamp: {{database.timestamp}}</p>
                    <p class="col"> Assembly entries: {{database.assembly_entries}}</p>
                    <p class="col">
                        {% for assembly_level in database.assembly_levels.all %}
                            {{assembly_level.assembly_level}}
                        {% endfor %}
                    </p>
                    <p class="col">
                        <form action="{% url 'delete_database' database_id=database.id%}" method="GET">
                            {% csrf_token %}
                            <input type="submit" value="delete database" class="btn btn-warning">
                        </form>
                    </p>

                    <p class="col">
                        <form action="{% url 'download_database' database_id=database.id%}" method="GET">
                            {% csrf_token %}
                            <input type="submit" value="download database" class="btn btn-primary">
                        </form>
                    </p>
                </div>
            {% endfor %}
            </div>

        </div>
        {% endif %}

        </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script>
        function showLoader(idLoadingDiv,idButton){
            var loadingDiv = document.getElementById(idLoadingDiv)
            var downloadButton = document.getElementById(idButton)
            downloadButton.style.display = "block";
            loadingDiv.style.display = "none";
        };
    </script>
</html>