<!DOCTYPE html>
<html lang="en">
<body>
     <div class="container-fluid "  id="formCheck">
        <form method = "POST" enctype="multipart/form-data"  onsubmit="showLoader('loading','formCheck')">

            {% csrf_token %}

            <div class="form-group mr-2">
                <label for="project_title"> Project Title </label>
                <input type="text" class="form-control" id="project_title" name="project_title">
                {% if BlastProjectNrForm.project_title.errors %}
                    <div class="alert alert-danger">
                        <strong>{{BlastProjectNrForm.project_title.errors}}</strong>
                    </div>
                {% endif %}
            </div>

            <div class="form-group mr-2">
                <label for="taxid_bw"> Scientific Name (conversion to Taxonomic Node) for Backward BLAST (specify just one name)</label>
                <input type="text" class="form-control" id="taxid_bw" name="taxid_bw">
                {% if BlastProjectNrForm.taxid_bw.errors %}
                    <div class="alert alert-danger">
                        <strong>{{BlastProjectNrForm.taxid_bw.errors}}</strong>
                    </div>
                {% endif %}
            </div>

            <div class="form-group mr-2">
                <label for="taxid_fw"> Scientific Names (conversion to Taxonomic Nodes) Forward BLAST (comma separated list)</label>
                <input type="text" class="form-control" id="taxid_fw" name="taxid_fw">
                {% if BlastProjectNrForm.taxid_fw.errors %}
                    <div class="alert alert-danger">
                        <strong>{{BlastProjectNrForm.taxid_fw.errors}}</strong>
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="query_sequence_file">Query Sequences
                    <span class="badge badge-info">  In FASTA format (with sequence name)
                    </span></label>
                <input type="file" class="form-control-file" id="query_sequence_file" name="query_sequence_file">
                {% if BlastProjectNrForm.query_sequence_file.errors %}
                    <div class="alert alert-danger">
                        <strong>{{BlastProjectNrForm.query_sequence_file.errors}}</strong>
                    </div>
                {% endif %}
            </div>

            <div id="advanced_settings_3" class="form-group" style="display:none">
                <p><strong>Settings for Forward Blast:</strong></p>
                <div class="form-group">
                    <label for="fw_e_value">E-Value</label>
                    <input type="number" class="form-control-file" id="fw_e_value" name="fw_e_value" value="0.001">
                </div>
                <div class="form-group">
                    <label for="fw_word_size">Word-Size</label>
                    <input type="number" class="form-control-file" id="fw_word_size" name="fw_word_size" value="3">
                </div>
                <div class="form-group">
                    <label for="fw_num_alignments">Alignment Number</label>
                    <input type="number" class="form-control-file" id="fw_num_alignments" name="fw_num_alignments" value="10000">
                </div>
                 <div class="form-group">
                    <label for="fw_num_descriptions">Description Number</label>
                    <input type="number" class="form-control-file" id="fw_num_descriptions" name="fw_num_descriptions" value="500">
                </div>
                 <div class="form-group">
                    <label for="fw_num_threads">Number of Threads</label>
                    <input type="number" class="form-control-file" id="fw_num_threads" name="fw_num_threads" value="1">
                </div>

                <p><strong>Settings for Backward Blast:</strong></p>
                <div class="form-group">
                    <label for="bw_e_value">E-Value</label>
                    <input type="number" class="form-control-file" id="bw_e_value" name="bw_e_value" value="0.001">
                </div>
                <div class="form-group">
                    <label for="bw_word_size">Word-Size</label>
                    <input type="number" class="form-control-file" id="bw_word_size" name="bw_word_size" value="3">
                </div>
                <div class="form-group">
                    <label for="bw_num_alignments">Alignment Number</label>
                    <input type="number" class="form-control-file" id="bw_num_alignments" name="bw_num_alignments" value="1">
                </div>

                 <div class="form-group">
                    <label for="bw_num_descriptions">Description Number</label>
                    <input type="number" class="form-control-file" id="bw_num_descriptions" name="bw_num_descriptions" value="1">
                </div>
                 <div class="form-group">
                    <label for="bw_max_hsps">Maximum Number of High Scoring Pairs</label>
                    <input type="number" class="form-control-file" id="bw_max_hsps" name="bw_max_hsps" value="1">
                </div>
                 <div class="form-group">
                    <label for="bw_num_threads">Number of Threads</label>
                    <input type="number" class="form-control-file" id="bw_num_threads" name="bw_num_threads" value="1">
                </div>
            </div>
            <input type = "submit" value = "Submit" class="btn btn-primary mb-2">
            <input style="display: none" type="text" value="{{user_email}}" id="user_email" name="user_email">
            <input type="hidden" value="nr" id="project_type" name="project_type">

        </form>

         <button class="btn btn-info" onclick="displayBlastSettings_3()">Advanced BLAST Settings </button>

        </div>

     <div id="loading" style="display: none" style="text-align: center">
                      <div class="container-fluid" >
                          <p align="center"><iframe src="https://giphy.com/embed/11FuEnXyGsXFba" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></p>
                          <p><a href="https://giphy.com/gifs/icon-loading-beaker-11FuEnXyGsXFba"></a></p>
                      </div>
    </div>

    <script>
        function displayBlastSettings_3() {
              var settingsForm = document.getElementById("advanced_settings_3");
              if (settingsForm.style.display == "none") {
                settingsForm.style.display = "block";
              } else {
                settingsForm.style.display = "none";
              }
            }
    </script>

    <script>
        function showLoader(idLoadingDiv,idButton){
            var loadingDiv = document.getElementById(idLoadingDiv)
            var downloadButton = document.getElementById(idButton)
            downloadButton.style.display = "none";
            loadingDiv.style.display = "block";
        };
    </script>
</body>
</html>