<html>
    <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- DataTables stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.2/css/select.dataTables.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css" crossorigin="anonymous">

    {% load static %}
    <script src="{% static 'javascript/refseq_transaction.js' %}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
        <body>

        <nav class="navbar navbar-light" style="background-color: lightskyblue">
            <a class="navbar-brand" href="{% url 'main'%}">Home</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav">
                        <a class="nav-link" href="{% url 'project_creation' %}">Project Creation: Create Your Reciprocal BLAST Project<span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="{% url 'species_taxid' %}">Get Species Taxonomic Nodes From Scientific Name (Check Availability)<span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="{% url 'upload_databases' %}">Upload New Genome FASTA Files<span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="{% url 'refseq_database_transactions' %}">RefSeq Database Transactions<span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                      </div>
                  </div>
        </nav>

        <div id="titles" class="header" >
            <hr>
            <h1 class="text-center">{% block title %} SynMibi Reciprocal BLAST refseq database transactions {% endblock %}</h1>
            <hr>
        </div>

        <div class="container-fluid">


            <div class="row" style="display: none" id="loading_refseq_table">
                <div style="text-align: center" >
                  <div class="container-fluid">
                      <p align="center"><iframe src="https://giphy.com/embed/11FuEnXyGsXFba" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></p>
                      <p><a href="https://giphy.com/gifs/icon-loading-beaker-11FuEnXyGsXFba"></a></p>
                  </div>
                </div>
            </div>

            <div class="container-fluid" id="downloadChoices">
                <div class="row" style="text-align: center">
                    <div class="col"> <p>View your selected assemblies and download a summary of the entries as CSV file.</p> </div>
                    <div class="col"> <p>Check your selection and download selected genomes.</p> </div>
                    <div class="col"> <p>Delete or download refseq summary file.</p> </div>
                </div>
                <div class="row">
                    {% if refseq_exists == True %}
                    <div class="col">
                        <div class="form-check">
                            <form  action="{% url 'refseq_database_transactions' %}" name="refseq_database_transaction" method="POST" onsubmit="showLoader('loading_refseq_table','downloadChoices')">
                                {% csrf_token %}
                                <div id="choices" style="text-align: left">
                                    {% for level, option in RefseqTableForm.refseq_levels.field.choices %}
                                    <div class="form-check" >
                                        <input type="checkbox" class="form-check-input" id="{{level}}" name="refseq_level []" value="{{level}}">
                                        <label class="form-check-label" for="{{level}}"> {{option}} </label>
                                    </div>
                                    {% endfor %}
                                    <br>
                                    <input type="submit" value="View Content" class="btn btn-primary">
                                </div>
                            </form>

                            <!-- Button that triggers download and redirects to another page? -->
                            <!-- <button type="button" class="btn btn-primary"> <a style="color: white" href="{% url 'refseq_genome_download' %}"> Browse and download Genomes </a> </button> -->
                        </div>
                    </div>

                    <div class="col" style="width: 150px;height: 150px;display: flex;align-items: center;justify-content: center;text-align: center;">
                        <!-- <button type="button" class="btn btn-primary"> <a style="color: white" href="{% url 'refseq_genome_download' %}"> Download Selected Genome Assemblies </a> </button> -->
                        <!-- onclick="submitSelectedTableRows()" -->
                        <button type="button" class="btn btn-primary" onclick="submitSelectedTableRows()"> Download Selected Genome Assemblies  </button>
                    </div>
                    {% endif %}



                    <div class="col" style="width: 150px;height: 150px;display: flex;align-items: center;justify-content: center;text-align: center;">
                        {% if refseq_exists == False %}
                        <form action="{% url 'download_refseq_summary' %}" method="GET" onsubmit="showLoader('loading_refseq_table','downloadChoices')">
                            {% csrf_token %}
                            <input type="submit" value="Download New RefSeq Assembly Summary" class="btn btn-primary">
                        </form>
                        {% endif %}

                        {% if refseq_exists == True %}
                        <form action="{% url 'delete_refseq_summary_file' %}" method="GET" >
                            {% csrf_token %}
                            <input type="submit" value="Delete Refseq Summary File" class="btn btn-danger">
                        </form>
                        {% endif %}

                    </div>
                </div>


            </div>


        <div class="container-fluid" id="refseqTable" style="display: none">
        <hr>
        {% if header %}
            {% if rows %}
            <!-- <h2 style="text-align: center"> Browse through refseq genome table </h2> -->

                <table class="table table-hover" id="myTable">
                    <thead>
                        <tr>
                            {% for k in header %}
                            <th>{{k}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        {% for r in rows %}
                            <tr>
                                <td>{{r.assembly_accession}}</td>
                                <td>{{r.organism_name}}</td>
                                <td>{{r.taxid}}</td>
                                <td>{{r.species_taxid}}</td>
                                <td>{{r.assembly_level}}</td>
                                <td>{{r.ftp_path}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endif %}
        </div>

        <div class="container-fluid" style="display: none;">
            <form id="tableForm" method="POST" enctype="multipart/form-data" action="{% url 'refseq_genome_download' %}">
                {% csrf_token %}
            </form>
        </div>
    </div>

    </body>
    <script
			  src="https://code.jquery.com/jquery-3.6.0.js"
			  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
			  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <!-- input scripts for DataTables: https://datatables.net/ -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.3.2/js/dataTables.select.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>



</html>