<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container-fluid " id="upload_div">
        <form method = "POST" enctype="multipart/form-data" onsubmit="showLoader_upload('upload_div','upload_giph')">

            {% csrf_token %}

            <div class="form-group mr-2">
                <label for="project_title"> Project Title </label>
                <input type="text" class="form-control" id="project_title" name="project_title">
                {% if BlastProjectForm.project_title.errors %}
                    <div class="alert alert-danger">
                        <strong>{{BlastProjectForm.project_title.errors}}</strong>
                    </div>
                {% endif %}
            </div>

             <div class="form-group">
                <label for="search_strategy">Search Strategy</label>
                 <select class="form-control" id="search_strategy" name="search_strategy">
                     <option value="blastn">blastn</option>
                     <option value="blastp">blastp</option>
                 </select>
            </div>

        <hr>
            <p style="font-size: large; font-weight: bold">Upload new database files or use previously uploaded databases</p>
        <hr>

            <div class="form-row">
            <div class="form-group">
                <label for="forward_genome_file">Forward Genome File</label>
                <input type="file" class="form-control-file" id="forward_genome_file" name="forward_genome_file">
                {% if BlastProjectForm.forward_genome_file.errors %}
                    <div class="alert alert-danger">
                        <strong>{{BlastProjectForm.forward_genome_file.errors}}</strong>
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                  <label for="forward_genome_uploaded_file">Select forward database:</label>
                  <select class="form-control" id="forward_genome_uploaded_file" name="forward_genome_uploaded_file">
                            <option value=""> </option>
                      {% for fw_database, option in  BlastProjectForm.forward_genome_uploaded_file.field.choices %}
                            <option value="{{ fw_database }}">{{ fw_database }}</option>
                      {% endfor %}
                  </select>
                    {% if BlastProjectForm.forward_genome_uploaded_file.errors %}
                        <div class="alert alert-danger">
                            <strong>{{BlastProjectForm.forward_genome_uploaded_file.errors}}</strong>
                        </div>
                    {% endif %}
            </div>

            </div>

            <hr>

            <div class="form-row">

                <div class="form-group">
                <label for="backward_genome_file">Backward Genome File</label>
                <input type="file" class="form-control-file" id="backward_genome_file" name="backward_genome_file">
                {% if BlastProjectForm.backward_genome_file.errors %}
                    <div class="alert alert-danger">
                        <strong>{{BlastProjectForm.backward_genome_file.errors}}</strong>
                    </div>
                {% endif %}
                </div>
                <div class="form-group">
                  <label for="backward_genome_uploaded_file">Select backward database:</label>
                  <select class="form-control" id="backward_genome_uploaded_file" name="backward_genome_uploaded_file">
                          <option value=""> </option>
                      {% for bw_database,option in  BlastProjectForm.backward_genome_uploaded_file.field.choices %}
                          <option value="{{ bw_database }}">{{ bw_database }}</option>
                      {% endfor %}
                  </select>
                    {% if BlastProjectForm.backward_genome_uploaded_file.errors %}
                        <div class="alert alert-danger">
                            <strong>{{BlastProjectForm.backward_genome_uploaded_file.errors}}</strong>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="form-group">
                <label for="query_sequence_file">Query Sequences</label>
                <input type="file" class="form-control-file" id="query_sequence_file" name="query_sequence_file">
                {% if BlastProjectForm.query_sequence_file.errors %}
                    <div class="alert alert-danger">
                        <strong>{{BlastProjectForm.query_sequence_file.errors}}</strong>
                    </div>
                {% endif %}
            </div>
            <hr>
            <div id="advanced_settings_1" class="form-group" style="display:none">
                <p><strong>Settings for Forward Blast:</strong></p>
                <div class="form-group">
                    <label for="fw_e_value">E-Value</label>
                    <input type="number" class="form-control-file" id="fw_e_value" name="fw_e_value" value="0.001">
                </div>
                <div class="form-group">
                    <label for="fw_word_size">Word-Size</label>
                    <input type="number" class="form-control-file" id="fw_word_size" name="fw_word_size" value="3">
                </div>
                <div class="form-group">
                    <label for="fw_num_alignments">Alignment Number</label>
                    <input type="number" class="form-control-file" id="fw_num_alignments" name="fw_num_alignments" value="10000">
                </div>
                 <div class="form-group">
                    <label for="fw_num_descriptions">Description Number</label>
                    <input type="number" class="form-control-file" id="fw_num_descriptions" name="fw_num_descriptions" value="500">
                </div>
                 <div class="form-group">
                    <label for="fw_num_threads">Number of Threads</label>
                    <input type="number" class="form-control-file" id="fw_num_threads" name="fw_num_threads" value="1">
                </div>

                <p><strong>Settings for Backward Blast:</strong></p>
                <div class="form-group">
                    <label for="bw_e_value">E-Value</label>
                    <input type="number" class="form-control-file" id="bw_e_value" name="bw_e_value" value="0.001">
                </div>
                <div class="form-group">
                    <label for="bw_word_size">Word-Size</label>
                    <input type="number" class="form-control-file" id="bw_word_size" name="bw_word_size" value="3">
                </div>
                <div class="form-group">
                    <label for="bw_num_alignments">Alignment Number</label>
                    <input type="number" class="form-control-file" id="bw_num_alignments" name="bw_num_alignments" value="1">
                </div>

                 <div class="form-group">
                    <label for="bw_num_descriptions">Description Number</label>
                    <input type="number" class="form-control-file" id="bw_num_descriptions" name="bw_num_descriptions" value="1">
                </div>
                 <div class="form-group">
                    <label for="bw_max_hsps">Maximum Number of High Scoring Pairs</label>
                    <input type="number" class="form-control-file" id="bw_max_hsps" name="bw_max_hsps" value="1">
                </div>
                 <div class="form-group">
                    <label for="bw_num_threads">Number of Threads</label>
                    <input type="number" class="form-control-file" id="bw_num_threads" name="bw_num_threads" value="1">
                </div>
            </div>
            <input type = "submit" value = "Submit" class="btn btn-primary mb-2">
            <input type="hidden" value="upload" id="project_type" name="project_type">
        </form>

            <button class="btn btn-info" onclick="displayBlastSettings_1()">Advanced BLAST Settings </button>
        </div>
     <div id="upload_giph" style="display: none" style="text-align: center">
                      <div class="container-fluid" >
                          <p align="center"><iframe src="https://giphy.com/embed/11FuEnXyGsXFba" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></p>
                          <p><a href="https://giphy.com/gifs/icon-loading-beaker-11FuEnXyGsXFba"></a></p>
                      </div>
    </div>
    <script>
        function displayBlastSettings_1() {
              var settingsForm = document.getElementById("advanced_settings_1");
              if (settingsForm.style.display == "none") {
                settingsForm.style.display = "block";
              } else {
                settingsForm.style.display = "none";
              }
            }
    </script>

      <script>
        function showLoader_upload(idLoadingDiv,idButton){
            var loadingDiv = document.getElementById(idLoadingDiv)
            var downloadButton = document.getElementById(idButton)
            downloadButton.style.display = "none";
            loadingDiv.style.display = "block";
        };
    </script>
</body>
</html>